<!-- views/crearCita.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><title>Crear Cita</title>

</head>
  <body class=" text-center justify-content-center p-3">
  <div class="container text-center bg-dark  text-white  text-dark p-3  rounded-2 ">
<body>
  <h1>Crear Cita</h1>
  <form action="/api/citas/generar" method="post">
    <div class="row  align-items-center">
    <div class="col-md-4  col-lg-4 col-sm-12  p-1 justify-content-between d-flex  ">

    <label for="nombreVisitante">Nombre del Visitante:</label>
    <input type="text" name="nombreVisitante" required><br>
  </div>
  <div class="col-md-4  col-lg-4 col-sm-12 p-1 justify-content-between d-flex  ">

    <label for="fechaVisita">Fecha de la Visita:</label>
    <input type="datetime-local" name="fechaVisita" required><br>
  </div>
  <div class="col-md-4  col-lg-4 col-sm-12 p-1 justify-content-between d-flex  ">

    <label for="motivo">Motivo de la Visita:</label>
    <input type="text" name="motivo" required><br>
  </div>
  <div class="col-md-4  col-lg-4 col-sm-12 p-1 justify-content-between d-flex  ">
  </div>
    <div class="container">
      <button class="button bg-secondary text-white " >Lista</button>
      <button class="button bg-secondary text-white " type="submit">Crear</button>
    
  </form>
</body>
</html>
